body{
    overflow-x: hidden;
}
.custom-logo {
    width: 50px;
    height: 50px;
}
.custom-container {
    text-align: center;
    margin-top: 30px;
}
.img-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-title {
    margin-bottom: 30px;
}
.custom-hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.custom-header-img {
    border-radius: 8px;
}
.text-center {
    text-align: center;
}
.centered-hr {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}
.centered-hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.email-link {
    color: white;
}
.centered-hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.governance-text {
    color: #8D8E92;
}

.governance-content {
    line-height: 0.6;
}

.rounded-img {
    border-radius: 8px;
}

.feature-description {
    color: #8D8E92;
}

.feature-list {
    color: #8D8E92;
}

.feature-image-wrapper {
    min-height: 400px;
    width: 630px;
}

.feature-image {
    object-fit: cover;
    border-radius: 8px;
    margin-left: 8px;
}

.president-text {
    font-size: medium;
    font-weight: normal;
    line-height: 1.6;
    overflow-y: auto;
}
.governance-info {
    color: #8D8E92;
}

.governance-details {
    line-height: 0.7;
}
.centered-hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.mb-30 {
    margin-bottom: 30px;
}

.president-text {
    font-size: medium;
    font-weight: normal;
    line-height: 1.6;
    overflow-y: auto;
}

.mt-45 {
    margin-top: 45px;
}

.green-link {
    color: green;
}

.rounded-img {
    border-radius: 8px;
}

.governance-hr {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.phone-icon, .fax-icon, .email-icon, .web-icon, .address-icon, .emergency-icon {
    color: #0354D5;
}

.governance-link {
    color: #8D8E92;
}

.google-map {
    border: 0;
}

.president-description {
    margin-top: 45px;
}

.president-image {
    border-radius: 8px;
    height: 500px;
}

.col-lg-5 {
    margin-left: 60px;
}

.img-full {
            width: 100%;
            height: 100%;
            object-fit: cover;
}
:root {
    --primary: #0463FA;
    --light: #EFF5FF;
    --dark: #1B2C51;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
/*#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}*/


/*** Button ***/
/*.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/* Contact */
.text-center {
    text-align: center;
}
.mt-4 {
    margin-top: 20px;
}
.icon-container {
    width: 55px;
    height: 55px;
    margin-left: 20px;
}
textarea {
    height: 100px;
}
.map-container {
    min-height: 400px;
}


/* Navbar */
.navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
    font-size: 13px; 
}
.navbar .navbar-nav {
    margin-right: 25px; 
}
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 14px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    transition: .3s;
}
.footer .copyright {
    text-align: center;
}
.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}
